body{
  font-family: Verdana;
}

table{
  margin-left: auto;
  margin-right: auto;
}

table{
  border-collapse: collapse;
}

td.nomJour{
  font-weight:bold;
}

td{
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
  border-style: solid;
  border-width:2px;
}

td.weekend{
  background-color:red;
}

#today{
  border-width:4px;
}

p.nomMois{
  text-align:center;
  font-weight:bold;
}

td.ferie{
  background-color:cyan;
}

.id_bouton{
border: 3px solid #641e16;
color: #641e16;
width: 100px;
text-align:center;
padding:4px;
border-radius:10px;
text-decoration: none;
}

.id_bouton:hover{
color:white;
background-color:#641e16;
transition-duration:0.35s;
}
